.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgb(1, 1, 1) 0.00%, rgb(27, 30, 37) 100.00%);
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .password-reset-form {
    width: 30%;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1s forwards;
  }
  
  @keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .password-reset-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .password-reset-form p {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .password-reset-form form {
    display: flex;
    flex-direction: column;
  }
  
  .password-reset-form i {
    color: #de0d33;
  }
  
  .input_password {
    width: 87%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .password-reset-form button[type="submit"] {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
    background-image: linear-gradient(
      to right,
      #eb3941,
      #f15e64,
      #e14e53,
      #e2373f
    );
  }
  
  .password-reset-form button[type="submit"]:hover {
    background-position: 100% 0;
    transition: all 0.6s ease-in-out;
  }
  
  .error-message {
    text-align: center;
    color: red;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .password-reset-form {
      width: 80%;
    }
  }
  
  #btnbtnbtn {
    position: absolute;
    bottom: 52%;
    left: 7%;
  }
  