#password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgb(1, 1, 1) 0.00%, rgb(27, 30, 37) 100.00%);
    color: white;
    font-family: Arial, sans-serif;
  }
  #mot_de_pass_succe i{
 margin-bottom: 0;
 font-size: 3rem;
 color: green;
  }
  #mot_de_pass_succe {
    top :46%;
    opacity: 0;
    
  }
  .password-reset-formm {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }

  
  @keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes Slideleft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-150%);
      opacity: 0;
    }
  }
  
  @keyframes Slideleftt {
    from {
      transform: translateX(120%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .register-container-slideleft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-name: Slideleft;
  }
  
  #password-reset-message {
   
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-name: Slideleftt;
    animation-delay: 1.2s;
  }
  
  #password-reset-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  #password-reset-form-element {
    display: flex;
    flex-direction: column;
  }
  
  .input-container_reset {
    margin-bottom: 15px;
  }
  

  
  #password-icon-1, #password-icon-2, #visibility-icon-1, #visibility-icon-2 {
    top: 8px;
  }
  
  #password-icon-1, #password-icon-2 {
    left: 10px;
  }
  
  #visibility-icon-1, #visibility-icon-2 {
    position: absolute;
    right: 50px;
    cursor: pointer;
  }
  
  #input-password, #input-confirm-password {
    width: 87%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    border-radius: 5px;
  }
  
  #password-reset-submit {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
    background-image: linear-gradient(
      to right,
      #eb3941,
      #f15e64,
      #e14e53,
      #e2373f
    );
  }
  
  #password-reset-submit:hover {
    background-position: 100% 0;
    transition: all 0.6s ease-in-out;
  }
  
  #error-message {
    text-align: center;
    color: red;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    #password-reset-form {
      width: 80%;
    }
  }
  