.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgb(1, 1, 1) 0.00%, rgb(27, 30, 37) 100.00%);
    color: white;
    font-family: Arial, sans-serif;
  }
#resetcontain
 {
    margin-bottom: 100px;
    overflow: visible;
  
  }
  #mot_de_pass_su{
    top: 50%;
   
    padding: 0.8rem;
    width: 70%;
    height: 70%;
  }

  #mot_de_pass_su i{
    margin-bottom: 0;
    font-size: 2rem;
   
     }
     .google_exist{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0.8rem;
      gap: 10px;
      text-align: center;
     }